doctype html
html(lang='en')
  include includes/_head
  body
    .wrapper
      header.header
        .top-menu
          nav.top-menu__nav
            ul.top-menu__ul
              li.top-menu__li
                a.top-menu__link(href="#" title="Mail") Mail
              li.top-menu__li
                a.top-menu__link(href="#" title="Images") Images
              li.top-menu__li
                input.top-menu__input(id="prod" type="checkbox" title="Products")
                label.top-menu__label(for="prod")
                  img.top-menu__icon(src="img/popup-button.png" alt="")

                .inner-menu
                  input.inner-menu__input(id="more" type="checkbox" title="More")

                  ul.inner-menu__ul
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Calendar")
                        img.inner-menu__icon(src="img/calendar.png" alt="")
                        | Calendar
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Blogs")
                        img.inner-menu__icon(src="img/blogs.png" alt="")
                        | Blogs
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Mail")
                        img.inner-menu__icon(src="img/mail.png" alt="")
                        | Mail
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Classroom")
                        img.inner-menu__icon(src="img/classroom.png" alt="")
                        | Classroom
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Maps")
                        img.inner-menu__icon(src="img/maps.png" alt="")
                        | Maps
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="News")
                        img.inner-menu__icon(src="img/news.png" alt="")
                        | News
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Documents")
                        img.inner-menu__icon(src="img/documents.png" alt="")
                        | Documents
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Videos")
                        img.inner-menu__icon(src="img/videos.png" alt="")
                        | Videos
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Files")
                        img.inner-menu__icon(src="img/files.png" alt="")
                        | Files

                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Chat")
                        img.inner-menu__icon(src="img/chat.png" alt="")
                        | Chat
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Translation")
                        img.inner-menu__icon(src="img/tanslation.png" alt="")
                        | Translation
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Promo")
                        img.inner-menu__icon(src="img/promo.png" alt="")
                        | Promo
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Mars")
                        img.inner-menu__icon(src="img/mars.png" alt="")
                        | Mars
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Search")
                        img.inner-menu__icon(src="img/search.png" alt="")
                        | Search
                    li.inner-menu__li
                      a.inner-menu__link(href="#" title="Apps")
                        img.inner-menu__icon(src="img/apps.png" alt="")
                        | Apps
                  label(for="more").inner-menu__btn
                    span.inner-menu__box


              li.top-menu__li
                a.top-menu__link(href="#" title="Notifications")
                  img.top-menu__icon(src="img/bell.png" alt="")
              li.top-menu__li
                a.top-menu__link(href="#" title="Profile")
                  img.top-menu__avatar(src="img/ava.jpg" alt="")
      main.main
      footer.footer
        .footer__copy Crealime © 2022
